<form (ngSubmit)="onSubmit()" #formAdd="ngForm">
    <input
      type="text"
      placeholder="Name"
      [(ngModel)]="product.name"
      name="name"
    />
        <input
      type="text"
      placeholder="Img"
      [(ngModel)]="product.img"
      name="Img"
    />
        <input
      type="number"
      placeholder="Quantity"
      [(ngModel)]="product.quantity"
      name="Quantity"
    />
    <input
      type="number"
      placeholder="Price"
      [(ngModel)]="product.price"
      name="price"
    />
        <input
      type="text"
      placeholder="Desc"
      [(ngModel)]="product.desc"
      name="Desc"
    />
    <button>Add</button>
  </form>
