<ul nz-menu nzMode="horizontal">
	<li nz-menu-item>
        <div target="_blank" rel="noopener noreferrer" routerLink="/">Home</div>
    </li>
	<li nz-submenu routerLink="products" nzTitle="Products" nzIcon="">
	  <ul>
		<li nz-menu-group nzTitle="Quần Áo Nam">
		  <ul>
			<li nz-menu-item>Áo</li>
			<li nz-menu-item>Quần</li>
		  </ul>
		</li>
		<li nz-menu-group nzTitle="Quần Áo Nữ">
		  <ul>
			<li nz-menu-item>Áo</li>
			<li nz-menu-item>Quần</li>
			<li nz-submenu nzTitle="Váy">
			  <ul>
				<li nz-menu-item nzDisabled></li>
				<li nz-menu-item>Đầm</li>
				<li nz-menu-item>Chân Váy</li>
			  </ul>
			</li>
		  </ul>
		</li>
	  </ul>
	</li>
	<li nz-menu-item>
        <div routerLink="news" target="_blank" rel="noopener noreferrer">News</div>
    </li>
	<li nz-menu-item>
        <div routerLink="contact" target="_blank" rel="noopener noreferrer">Contact</div>
    </li>
  </ul>
  <div>
	<img src="https://bizweb.dktcdn.net/100/039/880/themes/751871/assets/slider_2.png?1646821092404" class="d-block w-100" alt="..."/>
</div>