<h1 nz-typography nzType="success">Products</h1>
<div  *ngFor="let products of products; let i = index" routerLink="{{products.id}}" style="display: flex;" >
    <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate" >
        <nz-card-meta nzTitle="{{products.name}}" nzDescription="{{products.price}}"></nz-card-meta>
        <nz-card-meta nzDescription="{{products.desc}}"></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img alt="example" src="{{products.img}}" />
      </ng-template>


</div>

