<div class="loadmore" nz-list-load-more>
  <h2>Add Products</h2>
  <button nz-button nzType="primary" routerLink="/admin/products/add">Add product</button>
  </div>
  <nz-list class="demo-loadmore-list" >

    <nz-list-item>

    </nz-list-item>
    <nz-list-item *ngFor="let products of products; let i = index">
      <th scope="row">{{i + 1}}</th>
      <ng-container >
        <nz-list-item-meta
          nzAvatar="{{products.img}}"
          nzDescription="{{products.desc}}"
        >
          <nz-list-item-meta-title>
            <a href="https://ng.ant.design">{{products.name}}</a>
          </nz-list-item-meta-title>
        </nz-list-item-meta>
        <td>{{products.quantity}}</td>-
      <td>${{products.price}}</td>-
      <td>{{products.status ? "còn Hàng": "Hết hàng"}}</td>
        <ul nz-list-item-actions>
          <nz-list-item-action><a routerLink="/admin/products/edit/{{products.id}}" nz-button nzType="primary" nzDanger>Edit</a></nz-list-item-action>
          <nz-list-item-action><a nz-button nzType="primary" nzDanger (click)="onHandRemove(products.id)">Remove</a></nz-list-item-action>
        </ul>
      </ng-container>
    </nz-list-item>
  </nz-list>

  <!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let products of products; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{products.name}}</td>
        <td>{{products.price}}</td>
        <td>{{products.status ? "còn Hàng": "Hết hàng"}}</td>
        <td><Button class="btn btn-danger" (click)="onHandRemove(products.id)">Remove</Button></td>
        <td><Button class="btn btn-warning" >Edit</Button></td>
      </tr>
    </tbody>
  </table> -->